* {
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2e3440; 
    color: #ffffff; 
}

.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

#top {
    width: 100%;
    background-color:#2e3440; 
    min-height: 30px;
    text-align: center;
    margin-bottom: 5px;
}

#head {
    width: 100%;
    background-color: #2e3440; 
    min-height: 75px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 5px;
}

#banner {
    width: 100%;
    background-color: #2e3440; 
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
}

#navigation {
    width: 100%;
    min-height: 30px;
    background-color: #4c566a; /* reminder */
    line-height: 31px;
    text-align: center;
    margin-bottom: 30px;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
}

#navigation li {
    display: inline-block;
    margin: 0 260px;
}

#navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 4px 5px;
    border-radius: 5px;
    background-color: #4c566a; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#navigation a:hover {
    background-color: #2e3440;
}
/*Made by NG*/
#boxes {
    width: 100%;
    background-color: #2e3440;
    min-height: 30px;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#box1, #box2, #box3 {
    padding: 15px;
    background-color: #3b4252; 
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    min-height: 400px;
    width: 30%;
}

#box1 img, #box2 img, #box3 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 3px solid #ffffff;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#box1:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(#4c566a);
}

#foot {
    width: 100%;
    background-color: #4c566a; 
    min-height: 25px;
    font-size: x-small;
    text-align: center;
    line-height: 25px;
    margin-top: 5px;
}

#wrap {
    width: 80%;
    margin-left: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    background-color: #4c566a; /*other*/
    padding-right: 10px;
}

a:link {
    color: #eceff4;
    text-decoration: none;
}

a:active {
    color: rgb(150, 150, 255);
}

a:hover {
    color: #eceff4;
    font-weight: bold;
}

#correct, #incorrect {
    display: none;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

#usernameDisplay {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(145, 145, 218);
    display: none;
}

#boxes {
    display: flex;
    justify-content: space-around;
}

#boxes div {
    margin: 10px;
}
